*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
.header {
    display: flex;
    justify-content: space-around;
}
.logo {
    max-width: 100px;
}
.nav{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav a{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 30%;
    border: 2px solid;
}

.section {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../img/9cefd7_bda2e20bfec143c7b921e80a9ebfe0b7_mv2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main{
    margin-bottom: 10px;
}
.curiosidades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.sectioncuriosidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
position: absolute;
width: 335px;
height: 534px;
left: 23px;
top: 722px;

background: #C4C4C4;
border-radius: 31px
}
.card2{
position: absolute;
width: 335px;
height: 534px;
left: 423px;
top: 722px;

background: #C4C4C4;
border-radius: 31px
}
.card3{
    position: absolute;
width: 335px;
height: 534px;
left: 823px;
top: 722px;

background: #C4C4C4;
border-radius: 31px
}
.praiadaconcha {
  max-width: 95%;;
    margin:5px;
}
.ruadapituba{
    max-width: 95%;;
    margin:5px;

}
.cachoeiras {
    max-width: 95%;
    margin:5px;
}
.titulo {
    padding: 10px;
}
.descrição {
    height:  80%;
    width: 100%;
    padding: 15px;
    height: 190px;;
    
}
.botão{
position: absolute;
width: 145.34px;
height: 54.76px;
left: 90px;
top: 460.39px;

background: #C4C4C4;
}
.h2-video{
    position: absolute;
    width: 92px;
    height: -45px;
    left: 600px;
    top: 1396px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    }
.section-video{
    padding:5px;
    }
.video{
    margin-left:30%;
    width: 40%;
    margin-top: 65%;
}
.section-footer {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content:space-evenly;
    align-items:center;
    height: 100px;
}
.nav-footer{
    display: flex;
    justify-content:space-between;
}
.img-footer{
    width: 50px;
    display: flex;
    align-content: center;
    justify-content:center;
}
@media (max-width: 851px){

    .sectioncuriosidades{
        flex-direction: row;
        gap: 30px;
    }

    .card{
position: absolute;
width: 335px;
height: 534px;
left: 23px;
top: 686px;

background: #C4C4C4;
border-radius: 31px;
    }
    .card2{
position: absolute;
width: 335px;
height: 534px;
left: 23px;
top: 1230px;

background: #C4C4C4;
border-radius: 31px;
    }
    .card3{
        position: absolute;
        width: 335px;
        height: 534px;
        left: 23px;
        top: 1775px;
        
        background: #C4C4C4;
        border-radius: 31px;
    }

    .h2-video {
        position: absolute;
        width: 92px;
        height: 0px;
        left: 150px;
        top: 2400px;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        }
    .video{
    margin-left:30%;
    width: 40%;
    margin-top: 480%;
}
    .section-video {
        padding:5px;
        }
}